<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
    $(function(){
        var vue = new Vue({
            el: '#app',
            data: {
                title: '디렉티브 if',
                age:0
            }
        });
    });
    </script>
</head>
<body>
    <div id='app'>
        <h2>{{title}}</h2>

        <div>
            나이: <input type="text" v-model='age'>
            <br>
            {{age}}살은
                <b>
                    <span v-if='age<8'>유아</span>
                    <span v-else-if='age<13'>아동</span>
                    <span v-else>노인</span>
                </b>
        </div>
    </div>
</body>
</html>